<div style="background-color: rgb(209, 134, 183); padding: 6px 0px">
    <div
      style="
        background-color: rgb(241, 187, 187);
        display: flex;
        justify-content: space-between;
      "
    >
      <ul style="list-style-type: none; display: flex; color: red;">
        <li class="ms-2 p-1">HOME</li>
        <li class="ms-2 p-1">ABOUT US</li>
        <li class="ms-2 p-1">DESTINATIONS</li>
        <li class="ms-2 p-1">BOOKING</li>
        <li class="ms-2 p-1">CONTACT US</li>
      </ul>
      <div class="p-1">
        <input type="search" placeholder="Search..." /><button
          class="ms-2 me-2"
        >
          Search
        </button>
      </div>
    </div>
  </div>