<div
          style="
            background-color: rgb(211, 211, 211);
            display: flex;
            justify-content: space-around;
          "
          class="p-4"
        >
          <div class="bg-white me-4" style="border: 2px dashed red">
            <p class="text-danger ms-3" style="margin-top: 30px;margin-bottom:0px;font-size: 25px;">
              <u style="color: red"><b>Adalaj Vav</b></u>
            </p>
            <p class="p-3">
              Adalaj Stepwell, also known as Adalaj Vav, is a five-story
              stepwell located in the village of Adalaj in the Indian state of
              Gujarat. It was built in 1499 by Queen Rudabai, the wife of the
              Vaghela chief, Veer Singh. One of the unique features of the
              stepwell is the presence of an octagonal opening in the ceiling of
              the fourth level. This opening allows sunlight to enter the
              stepwell, illuminating carvings and sculptures.
              Today, Adalaj Stepwell is a popular tourist destination and a
              testament to the architectural and engineering skills of ancient
              India.
            </p>
            <br />
            <div style="display: flex" class="mb-4">
                <button
                  class="bg-danger text-light p-2 mt-2"
                  style="margin-left: 400px; border: none; border-radius: 18px">
                  More about
                </button>
            </div>
          </div>
          <div class="bg-white" style="border: 2px dashed red">
            <p class="text-danger ms-3" style="margin-top: 30px;margin-bottom:0px;font-size: 25px;">
              <u style="color: red"><b>Metro Ahmedabad</b></u>
            </p>
            <p class="p-3">
              Metro Ahmedabad is a rapid transit system that serves the city of
              Ahmedabad in the Indian state of Gujarat. The metro system was
              launched in 2019 and is operated by the Gujarat Metro Rail
              Corporation (GMRC). As of 2023, the Metro Ahmedabad has two
              operational lines: The 22.8-kilometer-long Green Line, which has
              20 stations and connects Vastral Gam in the east to Thaltej Gam in
              the west. The 6.5-kilometer-long Orange Line, which has 6 stations
              and runs between Gyaspur Depot and Apparel Park. The trains are
              air-conditioned and equipped with CCTV cameras, public address
              systems, and emergency communication systems.
            </p>
            <div style="display: flex">
              <button
                class="bg-danger text-light p-2"
                style="margin-left: 500px;margin-top: 30px; border: none; border-radius: 18px">
                More about
              </button>
            </div>
          </div>
        </div>
        