<!-- <app-trv></app-trv> -->
 <!-- <app-practical7></app-practical7> -->
 <!-- <app-productfilter></app-productfilter> -->

 <!-- <div class="app-container">
  <h1>Online Store</h1>
  <div class="products">
    <app-product-item
      *ngFor="let product of products"
      [product]="product"
      (addToCartEvent)="cartComponent.addToCart($event)">
    </app-product-item>
  </div>
  <app-cart #cartComponent></app-cart>
</div> -->
<!-- <div>
   <h1>Angular Component Lifecycle Exercise</h1> 
  <app-lifecycle-component></app-lifecycle-component> 
</div>  -->



<!-- app.component.html -->
<!-- <header>
 <h1>🛒 Angular E-Commerce</h1>
</header> -->
<!-- <app-product-list></app-product-list> -->

<!-- <main>
  <router-outlet></router-outlet>
</main>  -->

<!-- <router-outlet></router-outlet> -->
<app-stud></app-stud>